





body{
    background-color: rgb(170, 187, 241);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}



h1 {
    text-align: center;
    padding-top: 2.5%;
    
}


 .jumplinks ul li { 
    display: inline-block;
    margin: 2%;
    list-style-type: none;
    position:relative;
    left: 570px;
    display: inline-flex;
}


#about{
    text-align: center;
    padding: 10%;
}


h2{
    text-align: center;
}

#bigBox{
    margin: 3%;
    padding: 5px;
    border: 1px;
    background-color: lavender;
    display: inline-block;
}

#bigBox p{
    padding: 1.5%;
    display: inline-block;
    background-color: black;
    color: blueviolet;
    position: relative;
    top: 1px;
    left: 1px;
}


#smallBox-one img{
    width: 315px;
    height: 30%;
    background-color: black;
}

#smallBox-two img{
    width:315px;
    height: 30%;
}

#smallBox-three img{
    width:315px;
    height: 30%;
}


#smallBox-one :hover{
    opacity: .5;
}

#smallBox-two :hover{
    opacity: .5;
}

#smallBox-three :hover{
    opacity: .5;
}


#bigBox img:hover{
    opacity: .5;
    
}


#contact{
    padding: 20px;
    
}

.info{
    padding: 5%;
    background-color: black;
    color: darkgray;
    font-size: large;
    display: flex;
    justify-content: space-between;
}


@media screen and (max-width:768px){
    .info{
        flex-wrap: wrap;
        flex: 1 0;
       
        
    }
    
}

